---
import Layout from '~/layouts/PageLayout.astro';
import TagList from '~/components/widgets/TagList.astro';

const meta = {
  title: `Tags`,
  ignoreTitleTemplate: true
};
---

<Layout metadata={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-12 lg:py-16 mx-auto max-w-3xl">
    <TagList />
  </section>
</Layout>